<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MallMapper">
    <select id="getGoodAmountRank" resultType="com.github.hcsp.entity.GoodRank">
        select goods.name, amount
        from goods
                 right join
             (select `order`.goods_id, sum(`order`.price * `order`.quantity) as amount
              from `order`
              group by `order`.goods_id) temper on goods.id = temper.goods_id
        order by amount desc;

    </select>
</mapper>